<mat-list>
    <mat-list-item *ngFor="let todo of todos ; trackBy: trackFn">
      <mat-checkbox
        [checked]="todo.completed"
        (change)="toggleCompleted(todo)"
      >
      </mat-checkbox>
  
      <span
        (click)="select(todo)"
        [ngStyle]="
          todo.completed && {
            'text-decoration': 'line-through',
            color: 'gray'
          }
        "
      >
        &nbsp; {{ todo.title }}
      </span>
    </mat-list-item>
  </mat-list>
  