<!-- mat-list>mat-list-item*3{Test $} -->
<div class="row">

  <div class="col">

    <app-todos-list [items]="todos$ | async" 
                    (selectedChange)="selected = $event">
    </app-todos-list>

    <mat-form-field>
      <input #todoName matInput placeholder="Create Todo" (keyup.enter)="createTodoFrom(todoName)">
      <mat-hint align="end"> 
          {{ todoName.value.length }} / 60 
      </mat-hint>
    </mat-form-field>

    <button (click)="completedOnly()">Completed only</button>
  </div>

  <div class="col">

    <div *ngIf="selected">
      <h3> {{selected.title}}</h3>
    </div>

    <mat-list>
      <mat-list-item>
        <span>Completed </span>
        <span class="separator"></span>
        <span> {{ (completed$ | async)?.length }}</span>
      </mat-list-item>
    </mat-list>
  
  </div>
</div>

<style>
  .row {
    display: flex;
  }
  .col {
    flex: 1;
    padding:10px;
  }
  .separator{
    flex: 1 100%
  }
</style>
