<div class="row">
  <div class="col">
    <p>browse-users works!</p>
    
    <ng-container *ngIf="users$ | async as users">
      <p>Found {{ users?.length }} users</p>
    </ng-container>
    
    <!-- <p>Found {{ (users$ | async)?.length }} users</p> -->
    
    <p *ngIf="loading$ | async">Loading...</p>
    
    <mat-list>
      <mat-list-item
        *ngFor="let user of users$ | async"
        [routerLink]="['/users', user.id]"
      >
        {{ user.name }}
      </mat-list-item>
    </mat-list>
    
    <button (click)="refresh()">Refresh</button>

  </div>
  <div class="col">
    <router-outlet></router-outlet>


  </div>
</div>


<style>
  .row {
    display: flex;
  }
  .col {
    flex: 1;
  }
</style>
