<p>counter works!</p>

<button (click)="decrement()">-</button>

<input type="text" [value]="counter$ | async" />

<button (click)="increment()">+</button>

<style>
:host{
  padding: 20px;
  display: block;
}
</style>
