<h3>Tasks</h3>
<div class="row">
  <div class="list">
    <p>Completed: {{ (completed$ | async)?.length }}</p>
    <mat-list>
      <mat-list-item *ngFor="let task of currentFilter$ | async">
        <div matLine="" >
          <mat-checkbox
            [checked]="task.completed"
            (change)="toggleTaskCompleted(task)"
          >
          </mat-checkbox>
          &nbsp;
          <span (click)="selectTask(task)">
              {{ task.title }}</span>
        </div>
        <button mat-icon-button (click)="removeTask(task.id)">
          <mat-icon inline>close</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>

    <mat-form-field>
      <input
        type="text"
        matInput
        placeholder="Task Name"
        #createTaskInput
        (keyup.enter)="createTask(createTaskInput)"
      />
    </mat-form-field>
  </div>
  <div class="details">
    <div *ngIf="selected">
      {{ selected.title }}

      <div *ngIf="user$ | async as user">
        {{user.name}}
      </div>
      
    </div>
  </div>
</div>

<style>
  :host {
    padding: 20px;
    display: block;
  }
  .row {
    display: flex;
  }
  .list {
    flex: 1;
  }
  .details {
    flex: 3;
  }
</style>
