<p>user-details works!</p>

<ng-container *ngIf="user$ | async as user">
  {{ user.name }}

  <mat-card [formGroup]="form">
    <mat-card-content>
      <mat-form-field>
        <input type="text" matInput formControlName="name" placeholder="name" />
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="email"
          placeholder="email"
        />
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="update()">Update</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
